.contact{
	display: grid;
	grid-template-rows: [first] auto [second] auto; 
	max-width: 800px;
	width: 100%;
	font-family: $lato;	
	&_intro{
		@include easeInOut;
		background: $white;
		padding: 1em;
		& h5{
			font-size: 2.4em;
			font-weight: 900;
			@include martopbot(0.2em, 0.75em);
		}
		& p{
			color: $grey-blue;
			font-size: 1em;
			line-height: 1.75em;
		}
		&-showAt1000{
			display: none;
		}
	} //_intro 

	&_form{
		padding: 1em;
		@include bgColor($grey-blue);
		@include easeInOut;
		box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
		& label{
			display: block;
			font-size: 0.9em;
			color: $grey-light;
		}
		& input, textarea{
			@include easeInOut;
			width: 100%;
			margin: 10px;
			@include martopbot(0.5em, 1.5em);
			font-size: 1em;
			padding: 20px 5px 20px 5px;
			position: relative;
			z-index: 2;
			width: 250px;
			height: 30px;
			max-width: 300px;
			&::-webkit-input-placeholder { 
			  font-size: 1.2em;
			  color: $grey;
			}
			&:focus { 
			    outline: none !important;
			    &::-webkit-input-placeholder {
				    color: rgba(0,0,0,0.1);
				}
			}
			&.submit{
				text-transform: uppercase;
				color: $grey;
				border: solid 2px $grey;
				@include padtopbot(10px, 28px);
				text-align: center;
				background: $grey-blue;
				@include easeInOut;
				cursor: pointer;




				 perspective: 600px;
				/*
				&:hover{
					border-color: $white;
					color: $white;
				}
				*/
			}
		}
		& textarea{
			height: 30px;
		}
	} // _form
} // .contact

.error-name, .error-email, .error-message {
	font-weight: bold;
	font-size: 1.2em;
	color: $red-faded;
	display: none;
	animation: pulse 7s infinite;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  backface-visibility: hidden;
  will-change: transform;
}

.card__face--back {
	transform: rotateY(180deg);
	position: relative;
	z-index: 2;
		& .sent{
		border: solid 2px $grey;
		width: 250px;
		height: 40px;
		margin-top: -66px;
	    text-transform: uppercase;
	    color: #939393;
	    text-align: center;
	    background: $grey-blue;
		@include easeInOut;
	    cursor: pointer;

		& .success{
			animation: fadeToGreen 4s;
			width: 25%;
			height: 30px;
			padding-top: 10px;
			float: left;
			background: $green-faded;
			&-message{
				margin-top: 10px;
				letter-spacing: 3px;
				color: rgba(255,255,255,0.8);
				animation: fade 5s;
			}
			& p{
				color: $white;
				padding: 0px;
				margin: 0px;
				font-weight: bold;
				font-size: 18px;
  				animation: rotating 1.2s;
			}
		}

	}
}
.shake{
	animation: shake 0.5s;
}
@keyframes fade {
	from{opacity:0} to{opacity:1}
}

@keyframes fadeToGreen {
  0% {
    background-color: $grey;
  }
  100% {
    background-color: $green-faded;
  }
 }
@keyframes pulse {
  0% {
    color: $red-faded;
  }
  25% {
  	color: #e8d335;
  }
  50% {
  	color: #e8d335;
  }
  75% {
  	color: #d69393;
  }
  100% {
    color: $red-faded;
  }
}
@keyframes shake {
  0% {
  	transform: translate(0px);
  }
  20% {
  	transform: translate(-5px);
  }
  40% {
  	transform: translate(7px);
  }
  60% {
  	transform: translate(-9px);
  }
  80% {
  	transform: translate(10px);
  }
  100% {
  	transform: translate(0px);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




@media screen and (min-width: 360px){
	.contact{
		&_wrapper{
			max-width: 80%;
			margin: 0 auto;
			display: block;
		}
	}
} // 360


@media screen and (min-width: 500px){
	.contact{
			place-self: center;
			justify-items: center;
		&_wrapper{
			max-width: 100%;
		}
		&_intro{
			max-width: 320px;
			padding: 1.75em 1.75em 1.5em 1.75em;
			& p{
				font-size: 1.1em;
			}
		}
		&_form{
			padding: 2.5em 2.5em 2.5em 2.5em;
			max-width: 350px;
			& input, textarea{
				width: 300px;
			}
			& .sent{
				width: 297px;
				margin-left: 14px;
			}
		}
	}

	/* End Animations Mainly */
	.contact_form-inputBorder:hover {
		background: rgba(255,255,255,0);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	.contact_form-inputBorder svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	.contact_form-inputBorder svg line {
		stroke-width: 3;
		stroke: $grey-blue;
		fill: none;
		-webkit-transition: all .8s ease-in-out;
		transition: all .8s ease-in-out;
	}

	.contact_form-inputBorder:hover svg line {
		-webkit-transition: all .5s;
		transition: all .5s;
	}

	.contact_form-inputBorder svg line.top,
	.contact_form-inputBorder svg line.bottom {
		stroke-dasharray: 340 245; 
	}

	.contact_form-inputBorder {
		@include martopbot(0.5em, 1.2em);
		width: 325px;
		height: 60px;
		position: relative;
		background: rgba(0,0,0,0);
		color: $grey;
		box-shadow: none;
		-webkit-transition: background 0.3s;
		transition: background 0.3s;
	}

	.contact_form-inputBorder:hover svg line {
		stroke-width: 2;
		stroke: $grey;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	.contact_form-inputBorder:hover svg line.top {
		-webkit-transform: translateX(-300px);
		transform: translateX(-300px);
	}

	.contact_form-inputBorder:hover svg line.bottom {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}

	 .contact_form-inputBorder:hover svg line.left {
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
	}

	.contact_form-inputBorder:hover svg line.right {
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
	}
	/*  End Animations Mainly */ 

} // 360

@media screen and (min-width: 1000px){
	.contact{
		grid-template-columns: [left] 1fr [right] 1fr;
		&_intro{
			height: 300px;
			margin-right: -1em;
			place-self: center;
			&-showAt1000{
				display: block;
			}
		} // intro

	} // contact
}



